name: utoe-cosmological-integration
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - scipy
  - pandas
  - matplotlib
  - astropy
  - jupyter
  - pip
  - pip:
      []
